name: Publish to NuGet

on:
  push:
    branches:
      - main  # Trigger the workflow on push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Build
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore

#    - name: Test
#      run: |
#        dotnet test TelnyxSharp.Tests/TelnyxSharp.Tests.csproj
#      env:
#        DOTNET_CLI_TELEMETRY_OPTOUT: true
#        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
#        DOTNET_NOLOGO: true
    - name: Pack
      run: |
        dotnet pack --configuration Release --no-restore --output nupkg /p:Version=1.0.0.${{ github.run_number }}

    - name: Push to NuGet
      run: |
        dotnet nuget push nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
